<nav>
  <div>
    <button>Didcom IoT</button>
    <div>
    <% @navlinks.select {|l| l.iot}.each do |link| %>
      <a href=<%= link.href%>><%= link.name.capitalize%></a>
      <% end %>
    </div>
  </div>
  <a href="http://iotadmin.didcom.mx/Account/Login?ReturnUrl=%2f">IoT Admin</a> 
    <div>
    <button>MyGeotab</button>
    <div>
    <% @navlinks.select {|l| !l.iot}.each do |link| %>
      <a href=<%= link.href%>><%= link.name.capitalize%></a>
      <% end %>
    </div>
  </div>
  <a href="https://myadmin.geotab.com/">MyGeotabAdmin</a> 
</nav>
